body{
	color: black;
	background-repeat: no-repeat;
	background-size: contain;
	background-color:white;
	font-size: 20px;
	font-family: 'Patrick Hand', cursive;
}
 #header>h1{
	 color: darkblue;
 }  
 #home>h2{
	 color: darkblue;
 }
 #films>h3{
	 color: darkblue;
 }
 .section-4 > h3{
	 color: darkblue;
 }
 caption{
	 color: darkblue;
 }
#home p{
 max-width: 60%;
 justify-content: space-evenly;
}
 .section-1 {
	 display: flex;
 }
 .section-2{
	 display: flex;
 }
 ul{
	 list-style-type:square; 
	 list-style-position:inside;
	 list-style-image:none;
 }
 table{
	 float: center;
 }
table, th, td{
     border: 2px solid rgb(11, 44, 231);
     border-collapse: collapse;
     text-align: center;
}
#contacts img{
	margin-left: 10px;
	margin-right: 10px;
}
#contacts a{
    text-decoration: none;
}
#contacts img:hover{
	opacity: 0.8;
}
.section-4{
	float:center;
}
.copyright{
	font-size: 15pt;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	color: grey; 
}
nav{
	float: right;
}
nav>a{
	text-decoration: none;
	justify-content:space-between;
	background-color: rgb(191, 211, 219);
	height:200px;
	color: black;
	text-transform: uppercase;
	padding: 30px;
}
#side{
	float: right;
	padding: 2px;
}
.section-3{
	display: flex;
}
#head{
	float: center;
}
.section-4{
	text-align: center;
}