html{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    /*background-image: url("image/dc 1.jpg");*/
}
main{
    background-color: rgb(232,235,239,0.3);
    height:100%;
    display:flex;
    justify-content: space-between;
}
.column{
    padding:20px;
    margin;10px,10px,10px,0px;
    display:flex;
}
img{
    margin:0,0,0,0;
    box-sizing:border-box;
    height:auto;
    width:auto;  
}
.message{
    margin:20px auto 0 auto
    font-family:cursive;
    font-size: 1.3em;
    text-align:center
}
h1{
    margin:0;
     color:blueviolet;
     -webkit-margin-before: 0;
 }
header{
    height:200px;
    background-image:url('image/marvel\ vs\ dc\ logo.jpeg')
}
#content-1 a:hover{
 color:rgb(250,255,0)
 font-weight:900;
}
/*style.css*/
body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:50px auto 50px auto;
    width:70%;
}
#content-1{
    background-color: rgb(81, 130, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;